/* navbar */
.header-text{
    font-size: larger;
    font-weight: 500;
}
.text-latest{
    background-color: rgb(72, 72, 239);
    color: #ffffff;
    padding: 7px;
    border-radius: 5px;
}

/* category */
.category-link{
    margin-right: 52px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 50px;
}

/* author info */
.author-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


